@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);

* {
    align-content: center;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    padding: 10px;
    display: center;
}

body {
    background-color: rgb(229, 236, 236);
}

header {
    display: inline;
}
#highscore {
    float: left;
    font-weight: bold;
}

#timer {
    float: right;
    font-weight: bold;
}

h1 {
    padding-top: 50px;
}

ol {
    list-style-type: none;
}

p {
    font-weight: bold;
    font-size: large;
}
button {
    color: white;
    background-color: rgb(29, 110, 12);
}
